@import 'variables.scss';
@import 'mixins.scss';

body{
    // height: 100vh;
    width: 100vw;
    @include flexColumn;
    color: $lightPurple;
    font-family: $openSans;
}

.container-header{
    height: auto;
    width: 100%;
    @include flexColumn;
    color: $white;
}

.delivery-payment-wrapper{
    height: 30px;
    width: 100%;
    background-color: $darkPurple;
    @include flex;
    color: $white;
    font-size: calculadora-rem(12);
    text-transform: $upperCase;
}

.menu-logo-wrapper{
    height: 79px;
    width: 100%;
    background-color: $lightPurple;
    @include flex;
    text-transform: $upperCase;
}

.logo{
    font-family: $ovo;
    font-size: calculadora-rem(48);
    font-weight: 400;
    margin-right: $marginRigthMenu;
}

.menu-wrapper{
    font-weight: 700;
    font-size: calculadora-rem(14);
    @include flex;
    justify-content: space-around;
    height: 100%;
}

.menu-item{
    height: 100%;
    color: $white;
    text-decoration: none;
    margin-right: $marginRigthMenu;
    white-space: nowrap;
    @include flex;
}

.header__menu{
    &--wrapper{
        height: 100%;
        width: 100%;
        @include flex;
        box-sizing: border-box;
        position: relative;

        &:hover{
            & .header__menu{
                &--items{
                    min-height: 125px;
                    max-height: 383px;
                    min-width: 194px;
                    max-width: 240px;
                    background-color: $whiteOpacity;
                    @include flexColumn;
                    box-sizing: border-box;
                    border-top: 6px solid $darkPurple;
                    position: absolute;
                    top: 75px;
                    overflow: auto;
                    z-index: 2;

                    &::-webkit-scrollbar{
                        width: 12px;
                    }

                    &::-webkit-scrollbar-track{
                        background-color: #E5E3E2;
                    }

                    &::-webkit-scrollbar-thumb{
                        height: 57px;
                        border-radius: 33px;
                        background-color: $lightPurple;
                    } 
                }
            }
        }
    }
    &--items{
        display: none;
    }
    &--sub-item{
        display: none;
    }
    &--item-category{
        width: 100%;
        display: flex;
        min-height: 39px;
        font-size: calculadora-rem(13);
        color: $headerMenuColor;
        text-decoration: none;
        @include flex;

        &:hover{
            background-color: $backgroundMenuItem;
        }
    }
}



.image-menu{
    height: 25px;
    width: auto;
    cursor: pointer;
    margin-right: $marginRigthMenu;
}

.image-banner{
    height: 460px;
    width: 100%;
}

.warnning-header-wrapper{
    height: 80px;
    width: 100%;
    background-color: $darkPurple;
    @include flex;
    justify-content: space-between;
    padding: 20px 151px;
    box-sizing: border-box;
    margin-bottom: 44px;
}

.warnning-header-item{
    @include flex;
}

.warnning-text-wrapper{
    @include flexColumn;
    align-items:flex-start ;
    margin-left: 15px;
}

.warnning-title{
    font-weight: 700;
    font-size: calculadora-rem(16);
    text-transform: $upperCase;
}

.warnning-text{
    font-size: calculadora-rem(12);
}

.image-padlock{
    height: 42px;
    width: 31px;
}

.image-card{
    height: 29px;
    width: 40px;
}

.image-truck{
    height: 33px;
    width: 51px;
}

.image-certified{
    height: 43px;
    width: 31px;
}

.title-precious-stone{
    color: $darkGray;
    font-weight: 400;
    font-size: calculadora-rem(24);
    text-transform: $upperCase;
    margin-bottom: 22px;
}