$darkPurple: #614B65;
$lightPurple: #9A7AA0;
$purple: #542D84;
$grayishPurple: #8D94BA;
$gray: #C4C4C4;
$darkGray: #5C5762;
$white: #FFFFFF;
$black: #000000;
$salmon: #FFA4A4;
$yellow: #FFAA00;

$openSans: 'Open Sans', sans-serif;
$ovo: 'Ovo', serif;

$marginRigthMenu: 31px;