$darkPurple: #614B65;
$lightPurple: #9A7AA0;
$lightPurpleOpacity: #9A7AA0F2;
$purple: #542D84;
$grayishPurple: #8D94BA;
$gray: #C4C4C4;
$darkGray: #5C5762;
$white: #FFFFFF;
$whiteOpacity: #FFFFFFF2;
$black: #000000;
$salmon: #FFA4A4;
$yellow: #FFAA00;
$headerMenuColor: #302E2B;
$backgroundMenuItem: #F1F1F1;

$openSans: 'Open Sans', sans-serif;
$ovo: 'Ovo', serif;
$upperCase: uppercase;

$marginRigthMenu: 31px;
